.main{
	width: 100%;
	height: 100%;
}
.danmuBox{
	position: relative;
	width: 90%;
	height: 480px;
	margin: 20px auto;
	overflow: hidden;
	border: 2px rgba(20,30,40,0.4) solid;
	border-radius: 10px;
	box-shadow: -10px 10px 10px rgba(17,27,37,0.6);
}

.danmuBox p{
	position: relative;
	height: 20px;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}

.btn{
	margin-top: 50px;
	margin-bottom: 100px;
	text-align: center;
}

.btn input{
	height: 30px;
	border-radius: 5px;
	outline: none;
}

.btn input[type="button"]{
	height: 30px;
	width: 70px;
	font-size: 18px;
	text-align: center;
	border: 1px rgba(137,200,240,0.8) solid;
	background-color: rgba(27,37,47,0.4);
	color: rgba(255,255,255,1);
}

.btn input[name="clear"]:hover{
	background-color: rgba(255,50,0,0.8);
	box-shadow: 0 4px 4px rgba(17,27,37,0.6);
}

.btn input[name="launch"]:hover{
	background-color: rgba(0,60,250,0.8);
	box-shadow: -0 4px 4px rgba(17,27,37,0.6);
}

.btn input[type="text"]{
	height: 30px;
	width: 400px;
	margin: 0 20px 0;
	padding-left: 10px;
	font-size: 20px;
	border: 2px rgba(27,37,47,0.5) solid;
	border-radius: 10px;
}

.btn input[type="text"]:focus{
	border: 2px rgba(0,137,247,0.9) solid;
	box-shadow: 0px 4px 4px rgba(17,27,37,0.6);
}


/*@-webkit-keyframes show 
{
	from { right:-100%; }
	to { right:100px; }
}

@keyframes show
{
	from { right: -100%; }
	to { right: 100px; }
}
*/
.footer{
	width: 100%;
	height: 60px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    font-family: Georgia,Times ;
}

.footer a{ text-decoration: none; }

@media screen and (max-width: 640px){

 .danmuBox{ height: 390px; }

.btn{
	position: relative; 
	margin-top: 10px;
	margin-bottom: 80px;
}

.btn input[name="clear"]:hover{
	background-color: rgba(27,37,47,0.4);
	box-shadow: none;
}

.btn input[name="clear"]{
	position: absolute;
	top: 40px;
	left: 20%;
}

.btn input[name="launch"]:hover{
	background-color: rgba(27,37,47,0.4);
	box-shadow: none;

}

.btn input[name="launch"]{
	position: absolute;
	top: 40px;
	right: 20%;
}

.btn input[type="text"]{
	width: 90%;
	margin: 0 auto;
}
datalist{ display: none; }

}